/* Universal */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: hsl(270, 77%, 9%);
    color: hsl(295, 25%, 90%);
    font-size: 16px;
    font-family: 'Skranji', cursive; 
}

/* Navigation Bar */

nav {
    background-color: hsl(0, 0%, 0%);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 50%);
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
}

nav #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 2rem;
}

nav ul li {
    margin: 1rem;
}

nav #middle {
    border-left: 1px solid hsl(0, 0%, 50%);
    border-right: 1px solid hsl(0, 0%, 50%);
    padding: 0 2rem;
}

nav ul li a,
nav p {
    font-size: 1.5rem;
    color: hsl(295, 25%, 90%);
    text-decoration: none;
}

nav img {
    max-width: 5rem; 
}

/* About Me */

.page {
    width: 100%;
    height: 100vh;
}

#about {
    display: grid;
    grid-template: 1fr 1fr 1fr / 5% 1fr 2fr 5%;
}

.header {
    font-size: 6rem;
    text-align: right;
}

#about-me {    
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 3 / 3;
    font-size: 1.5rem;
}

#skills div {
    background-color: hsl(295, 25%, 90%);
    color: hsl(270, 77%, 9%);
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    margin: .5rem;
}

/* Projects */

#projects {
    display: grid;
    grid-template: 10% 1fr 10%/ 2fr 1fr;
}

#project-container {
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .4rem;
    background-color: hsl(270, 77%, 15%);
}

.project img {
    max-width: 40%;
    height: auto;
    object-fit: contain;
    border-radius: .5rem;
    margin: 0 1rem;
}

.project {
    display: flex;
    flex-direction: row;
}

.project-info {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#project-header {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.project-title {
    font-size: 1.3rem;
    text-decoration: underline;
}

button {
    background-color: hsl(27, 98%, 54%);
    border: none;
    font-size: 1.1rem;
    color: #160527;
    padding: .4rem;
    margin-right: .5rem;
    font-family: 'Skranji', cursive;
}

.btns {
    display: flex;
    flex-direction: row;
}

.skill-btn {
    border: 1px solid hsl(295, 25%, 90%);
    font-size: .8rem;
    padding: .3rem 1rem;
}

/* Contact */

#contact {
    display: grid;
    grid-template: 10% 1fr 10% / 1fr 1fr;
}

#contact i {
    color: hsl(27, 98%, 54%); 
    margin: .5rem;
    font-size: 3rem;
}

#contact-form {
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBDFEC;
    color:hsl(270, 77%, 9%);
    font-size: 1.5rem;
}

#contact input {
    height: 1.5rem;
    margin-bottom: 1rem;
}

#contact textarea {
    margin-bottom: 1rem;
}

#contact .contact-header {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact button {
    margin: 0;
}