/* Universal */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: hsl(270, 40%, 9%);
    color: hsl(295, 25%, 90%);
    font-size: 16px;
    font-family: 'Skranji', cursive; 
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 770px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 415px) {
    html {
        font-size: 8px;
    }
}



/* Navigation Bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    background-color: hsl(270, 40%, 9%);
}

nav #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav #logo img {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-right: 2rem;
}

nav ul li {
    margin: 1rem;
}

nav #middle {
    border-left: 1px solid hsl(0, 0%, 50%);
    border-right: 1px solid hsl(0, 0%, 50%);
    padding: 0 2rem;
}

nav ul li a,
nav p {
    font-size: 1.5rem;
    color: hsl(295, 25%, 90%);
    text-decoration: none;
}

nav ul li a:hover {
    color:hsl(27, 98%, 54%);
}

nav img {
    max-width: 5rem; 
}


/* About Me */

.page {
    width: 100%;
    height: 100vh;
}

#about {
    display: grid;
    grid-template: 1fr 1fr 1fr / 5% 1fr 2fr 5%;
}

.header {
    font-size: 6rem;
    text-align: right;
}

#about-me {    
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
}

.skills-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 2 / 3 / 3;
    font-size: 1.5rem;
    text-align: center;
}

.skill-div {
    margin: 1rem;
    width: 100%;
}

.skill-div div{
    background-color: hsl(295, 25%, 90%);
    color: hsl(270, 77%, 9%);
    font-size: 1.5rem;
    text-align: center;
    margin: .5rem;
}

.skill-div div:hover{
    background-color: hsl(27, 98%, 54%);
    padding: 0px 3px;
    text-align: right;
}

@media only screen and (max-width: 550px) {
    #about {
        grid-template: 10% 1fr 1fr / 1fr;
    }

    .skills-box {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        justify-content: flex-start;
        margin-top: 2rem;
    }

    #about-me {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        align-items: center;
        justify-content: flex-end;
    }

    .header {
        text-align: center;
    }
    .skill-div {
        width: 50%;
    }
}

/* Projects */

#projects {
    display: grid;
    grid-template: 10% 1fr 10%/ 2fr 1fr;
}

#project-container {
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: .4rem;
    background-color: hsl(270, 40%, 15%);
}

.project img {
    max-width: 40%;
    height: auto;
    object-fit: contain;
    border-radius: .5rem;
    margin: 0 1rem;
}

.project {
    display: flex;
    flex-direction: row;
}

.project-info {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

#project-header {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 1rem;
}

.project-title {
    font-size: 1.3rem;
    text-decoration: underline;
}

.description {
    font-size: 0.8rem;
}

button {
    background-color: hsl(27, 98%, 54%);
    border: none;
    font-size: 1.1rem;
    color: #160527;
    padding: .2rem;
    margin-right: .5rem;
    font-family: 'Skranji', cursive;
    cursor: pointer;
}

button:hover {
    background-color: hsl(270, 40%, 9%);
    border: 1px solid hsl(295, 25%, 90%);
    color: hsl(295, 25%, 90%);
    padding: .3rem;
}

.btns {
    display: flex;
    flex-direction: row;
}

.skill-btn {
    border: 1px solid hsl(295, 25%, 90%);
    font-size: .8rem;
    padding: .1rem 1rem;
}

@media only screen and (max-width: 900px) {
    .project {
        flex-direction: column;
        align-items: center;
    }

    .project-info {
        margin: 1rem;
        justify-content: space-evenly;
        align-items: center;
    }

    #project-container {
        justify-content: space-around;
        align-items: center;
    }

    .project img {
        max-width: 70%;
    }

    .skill-btns {
        margin: .7rem 0;
    }

    .project-title {
        margin-bottom: .7rem;
    }
}

@media only screen and (max-width: 550px) {
    #projects {
        grid-template: 10% 15% 1fr / 1fr;
    }

    #project-header {
        grid-area: 2 / 1 / 3 / 2;
        align-items: center;
    }

    #project-container {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .project img {
        max-width: 60%;
    }
}

/* Contact */

#contact {
    display: grid;
    grid-template: 10% 1fr 10% / 1fr 1fr;
}

#contact i {
    color: hsl(27, 98%, 54%); 
    margin: .5rem;
    font-size: 3rem;
}

#contact-form {
    grid-area: 2 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EBDFEC;
    color:hsl(270, 77%, 9%);
    font-size: 1.5rem;
}

#contact input {
    height: 1.5rem;
    margin-bottom: 1rem;
}

#contact textarea {
    margin-bottom: 1rem;
}

#contact .contact-header {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact button {
    margin: 0;
}

#contact button:hover {
    border: none;
    padding: .4rem;
}

@media only screen and (max-width: 550px) {
    #contact {
        grid-template: 10% 15% 1fr / 1fr;
    }

    #contact-form {
        grid-area: 3 / 1 / 4 / 2;
    }

    #contact .contact-header {
        grid-area: 2 / 1 / 3 / 2;
    }
}
